@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Material-Icons.woff2) format("woff2");
}

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Manrope-Regular.otf) format("opentype");
}

body {
    font-family: "Manrope";
}

/* hide simplebar scrollbar (workaround) */
.simplebar-content > .sidebar-inner {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Manrope";
}

/* icons --start */
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 1.4em;
    display: inline-flex;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
            font-feature-settings: "liga";
}
/* icons --end */

/* General classes --start */
@media only screen and (min-width: 768px) {
    .nowrap-lg {
        white-space: nowrap !important;
    }
}

.form-control.empty-input {
    border-color: rgb(225, 29, 72);
}

.form-control.empty-input:focus {
    box-shadow: 0 0 0 0.18rem rgb(225 29 72 / 25%);
}

.form-control.filled-input {
    border-color: rgb(16, 185, 129);
}

.cur-pointer {
    cursor: pointer;
}

.scale-on-hover {
    transform: scale(1.0);
    transition: all 0.3s ease;
}

.scale-on-hover:hover {
    transform: scale(1.4);
}

/* disable selection of readonly checkboxes */
input[type="checkbox"][readonly] {
    pointer-events: none;
}

div.form-check input[type="checkbox"], div.form-check label,
div.form-check input[type="radio"], div.form-check label {
    cursor: pointer;
}

.icon-xxx-large {
    font-size: xxx-large;
}

.bg-purple {
    background-color: #7b1fa2 !important;
}

/* increasing editor-js default width */
.ce-block__content, .ce-toolbar__content {
    max-width: calc(100% - 100px) !important;
}

@media only screen and (min-width: 768px) {
    .ce-block__content, .ce-toolbar__contentg {
        max-width: 100% !important;
    }
}

.cdx-block {
    max-width: 90% !important;
}

/* decreasing editor-js default height */
div.codex-editor > div.codex-editor__redactor {
    padding-bottom: 200px !important;
}

/* override template default settings to bootstrap 5 default */
div.accordion-item > .accordion-header > .accordion-button::after {
    content: "" !important;
    font-family: inherit !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23374151'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

div.accordion-item > .accordion-header > .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg) !important;
}
/* General classes --end */

/* animation classes --start */
.rotate-infinite {
    animation: spin 1s linear infinite;
}

.grow-animation {
    animation: grow 1s linear infinite;
}

.delete-animation {
    animation: deleteAnim 1s linear infinite;
}

.unarchive-animation {
    animation: unarchiveAnim 1s linear infinite;
}

.slidingBg {
    animation: animateBg 10s infinite linear;
    background-color: #fff;
    background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.1), #fff, rgba(255, 0, 0, 0.1), #fff);
    background-size: 300% 100%;
}

.unread.unread-animation {
    animation: unreadAnim 1.5s linear infinite;
}

@keyframes unreadAnim {
    50% { opacity: 45%; }
    100% { opacity: 100%; }
}

@keyframes animateBg {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}

@-moz-keyframes grow { 0% {opacity: 100%; } 50% {opacity: 0%;} 100% { opacity: 100%; } }
@-webkit-keyframes grow { 0% {opacity: 100%; } 50% {opacity: 0%;} 100% { opacity: 100%; } }
@keyframes grow { 0% {opacity: 100%; } 50% {opacity: 0%;} 100% { opacity: 100%; } }

@-moz-keyframes unarchiveAnim { 0% {background-color: #FFF; } 50% {background-color: #D4EDDA;} 100% { background-color: #FFF; } }
@-webkit-keyframes unarchiveAnim { 0% {background-color: #FFF; } 50% {background-color: #D4EDDA;} 100% { background-color: #FFF; } }
@keyframes unarchiveAnim { 0% {background-color: #FFF; } 50% {background-color: #D4EDDA;} 100% { background-color: #FFF; } }

@-moz-keyframes deleteAnim { 0% {background-color: #FFF; } 50% {background-color: #f8d7da;} 100% { background-color: #FFF; } }
@-webkit-keyframes deleteAnim { 0% {background-color: #FFF; } 50% {background-color: #f8d7da;} 100% { background-color: #FFF; } }
@keyframes deleteAnim { 0% {background-color: #FFF; } 50% {background-color: #f8d7da;} 100% { background-color: #FFF; } }

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* animation classes --end */
