After uploading to server, remove 'public/.htaccess' & rename 'public/.htaccess.server' -> 'public/.htaccess'.
Public directory code should be inside a folder inside 'public_html'.. All other laravel files should be outside 'public_html'.
Edit index.php for the new values (directory changes)
Link storage.. Tailored for our shitty server, Login as admin & open route: '/link-storage-server' -> some minor changes in path are required
